[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "*"
matplotlib = "*"
pillow = "*"
pprint = "*"
pypng = "*"
numpy = "*"
opencv-python = "*"
opencv-contrib-python = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.6"
